.container {
  display: flex;
  justify-content: center;
}
.box {
  min-width: 100%;
  max-height: 100%;
  display: flex;
}

.box label {
  width: 30%;
  height: 30px;
  margin-right: 10px;
}

.box select {
  width: 70%;
  height: 30px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0 10px;
  outline: 0;
}
