.container {
    background-color: blue;
    padding: 10px 20px;

    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 10px;

    border-radius: 10px;
}