.container {

}

.table{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.table thead {
    border-bottom: 2px solid #000;
    background-color: #007dc5;
    color: #FFF;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
}

.buttonTable{
    background-color: #007dc5;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
    border-radius: 5px;
    color: #FFFFFF;
}

.img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.edit {
    background-color: #3483b0;
}