.container {
    background-color: #007dc5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 200px;
    max-width: 60%;
    border-radius: 10px;
    border: 1px solid #007dc5;
    color: #FFFFFF;
    transition: .02 ease;
}

.container:hover {
    background-color: #3792c7;
    border-color: #007dc5;
}

.img {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #FFF;
}