
.container {
}

.box {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.areaSearch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.areaSearch h4{
    margin: 0;
    text-transform: uppercase;
}

.areaSearch input {
    width: 100%;
}

.areaSearch .boxLeft, 
.areaSearch .boxRight{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}

.line{
    width: 100%;
    border: 1px solid #999999;
    margin: 10px 0;
}

.areaButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.areaButtons a {
    max-width: 200px;
}

.table{
    width: 100%;
}

.table table {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}

.table table thead {
    background-color: #CCC;
}

.table table thead tr{
    margin-top: 5px;
}

.table table thead tr th{
    border: 0;
    padding: 10px;
}

.table table tbody tr td{
    margin: 10px;
    height: 45px;
}

.boxButtonsInTable{
    display: flex;
}