.container {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}