.container {
    
}

.box{
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.boxInputs, .boxComposition{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.boxInputs h3, .boxComposition h3{
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 20px ;
}

.boxButton{
    max-width: 1600px;
}