.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.box{
    width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.boxButtons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.table{
    width: 100%;
}

.table table {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}

.table table thead {
    background-color: #CCC;
}

.table table thead tr{
    margin-top: 5px;
}

.table table thead tr th{
    border: 0;
    padding: 10px;
}

.table table tbody tr td{
    margin: 10px;
    height: 45px;
}

.boxButtonsInTable{
    display: flex;
}