.container {
    
}

.box{
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.boxInputs, .boxComposition{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.boxInputs h3, .boxComposition h3{
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 20px ;
}

.boxButton{
    max-width: 1600px;
}

.boxItems{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boxItems input, .boxItems textarea{
    width: 60%;
  }

  .boxItems p {
    margin: 0;
    margin-bottom: 10px;
  }

  .boxItems textarea{
    height: 100px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #999999;
  }